* {
  color: #fff;
  margin: 0 50px;
}

html {
  margin: 0;
}

.title {
  background-color: blue;
  color: yellow;
  padding: 20px;
}

body {
  background-color: black;
}


.inputsAdd {
  color: black;
}

.list-group {
  margin: 15px 0;
}

.list-group-item span{
  color: black;
}

.navbar {
  margin: 0;
}